*{
    box-sizing: border-box;
    margin:0px;
}

nav {
    height: 50px;
    border-bottom: 1px solid black;
}

header  {
    text-align: center;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 10rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin:15px;
    max-width: 500px;
    border: 1px solid black;
    overflow: hidden;
}

meter {
    height: 40px;
}

a {
    text-decoration: none;
    color: forestgreen;
}

article img {
    height: 500px;
}

.article-data {
    margin: 3px 12px;
}

.article-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;   
    margin-top: 10px; 
}

.downgrade {    
    position: relative;  
    font-size: 1.2rem;
}

.downgrade:hover {    
    color: red;
}

.downvotes {
    position: absolute;
    left: 23px;
    top: 5px;
}

.upgrade {  
    position: relative;  
    font-size: 1.2rem;
}

.upgrade:hover {
    color:green;
}

.upvotes {
    position: absolute;
    left: 23px;
    top: 14px;
}

.fa-regular, .fa-solid {
    font-size: 2.2rem;
}

.fa-thumbs-up {
    margin-bottom: 9px;
    font-size: 2.6rem;
}

.fa-thumbs-down {
    font-size: 2.6rem;
}


@media all and (max-width:1075px) {
    h1 {
        font-size: 4rem;
    }
    article {
        max-width: 100%;
        width: 100%;
    }

    article img {        
        width: 100%;
        height: auto;
    }
}